# Vault OIDC Configuration
VAULT_ADDR=http://127.0.0.1:8200
VAULT_NAMESPACE=
PROVIDER_NAME=default
CLIENT_ID=<client_id_here>
CLIENT_SECRET=<secret_here>
REDIRECT_URI=<redirect_uri>

# Authorization Middleware Configuration
VAULT_AUTH_PATH=<path-to-secret>